{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<style>
  body {
    font-size: 16px;
    background-color: #fcfcfc;
  }

  .head_text {
    color: white;
  }
  .btn-success {
      color: white;
      background-color: purple;
      border-color: purple;
  }
  .btn-success:hover {
      color: white;
      background-color: purple;
      border-color: purple;
  }
</style>
<body>
<div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">
      {% if new_post %}
      <div class="alert alert-success" role="alert">
        Your post was published!
      </div>
      <div>
        <a class="btn btn-success" href="{% url 'roommatefinder' %}">Back</a>
      </div>
      {% else %}

      <h4>Leave a Post</h4>
      <form method="post" style="margin-top: 1.3em">
        {{ post_form | crispy }} {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-md" style="background-color: purple">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
</body>
<!-- <footer class="text-center text-md-start bg-light ">

    <div class="text-center p-4">Copyright: B-17       University of Virginia</div>
    </footer> -->

<!--    <style>-->
<!--      footer {-->
<!--       position:absolute;-->
<!--       bottom:0;-->
<!--       width:100%;-->
<!--       height:60px;   /* Height of the footer */-->
<!--    }-->
<!--    </style>-->
{% endblock %}
